<% if flash[:alert] %>
  <div id="alert-modal" class="modal alert-modal">
    <i class='bx bx-bell' ></i>
    <span><%= flash[:alert] %></span>
    <i class='bx bx-x close' onclick="closeModal('alert-modal')"></i>
  </div>
<% end %>

<section class="recipe-header">
  <h1><%= @recipe[:title] %></h1>
  <div class="recipe-actions">
    <% if @recipe[:isUserCreated] == true %>
      <div class="recipe-tag"><i class='bx bxs-pen'></i></div>
    <% else %>
      <div class="recipe-tag"><i class='bx bxs-star'></i></div>
    <% end %>
    <div class="recipe-tag"> <%= button_to recipe_path(@recipe.title), method: :delete, data: { confirm: 'Are you sure?' }, class: 'tooltip' do %><i class='bx bx-trash'></i><% end %></div>
  </div>
</section>

<section class="recipe-second-section">
  <img src="<%= @recipe.image_url %>" alt="image of <%=@recipe[:title]%>" class="recipe-img">
  <div class="recipe-info">
    <p><label>Servings:</label> <%= @recipe[:serving] %></p>
    <p><label>Calories:</label> <%= limit_decimal_places(@recipe[:calories]) %></p>
    <span class="cuisine-type-info">
      <label>Cuisine Type:</label>
      <% @recipe[:cuisine_type].each do |type| %>
        <p><%= type %></p>
      <% end %>
    </span>
    <% if @recipe[:url_source].present? %>
      <p><label>Source:</label> <%= @recipe[:url_source] %></p>
    <% end %>
  </div>  
</section>

<div class="health-labels-section">
  <h3>Health Labels:</h3>
  <ul class="health-labels-wrapper">
    <% @recipe[:health_labels].each do |label|%>
        <li class="label-item"><%=label%></li>
    <% end %>
  </ul>
</div>

<section class="recipe-third-section">
  <section class="instructions-section">
    <h3>Instructions:</h3>
    <ol class="instructions-wrapper">
      <% if @recipe[:instructions].present? %>
        <% JSON.parse(@recipe.instructions).each do |instruction| %>
          <li><%= instruction %></li>
        <% end %>
      <% else %>
        <li>No instructions found</li>
      <% end %>
    </ol>
  </section>
  <section class="ingredients-section">
    <h3>Ingredients:</h3>
    <div class="ingredients-wrapper">
    <% if @recipe[:ingredients].present? %>
      <% @recipe[:ingredients].each do |data|%>
          <span><i class='bx bx-knife' ></i> <%=data["text"]%></span>
      <% end %>
      <% else %>
        <li>No instructions found</li>
      <% end %>
    </div>
  </section> 
</section>
