  <%= link_to "Create a new recipe", new_recipe_path, class: "button" %>

<% if flash[:notice] %>
  <div id="notice-modal" class="modal notice-modal">
    <i class='bx bx-check-circle' ></i>
    <span><%= flash[:notice] %></span>
    <i class='bx bx-x close' onclick="closeModal('notice-modal')"></i>
  </div>
<% end %>

<% if flash[:alert] %>
  <div id="alert-modal" class="modal alert-modal">
    <i class='bx bx-bell' ></i>
    <span><%= flash[:alert] %></span>
    <i class='bx bx-x close' onclick="closeModal('alert-modal')"></i>
  </div>
<% end %>

<section>
  <h1>Saved Recipes</h1>
  <ul class="recipe-list-wrapper">
    <% @recipes.where(isUserCreated: false).each do |recipe| %>
    <li class="recipe-item">
      <%= link_to recipe_path(recipe.title)  do %>
      <img
        class="recipe-list-img"
        src="<%= recipe[:image_url] %>"
        alt="image of <%= recipe[:title] %>"
      />
      <div class="recipe-item-info">
        <h3><i class='bx bxs-star'></i> <%= recipe[:title] %></h3>
        <span>
          <% recipe[:meal_type].each do |type| %>
            <p><%= type %></p>
          <% end %>

          <% recipe[:cuisine_type].each do |type| %>
            <p><%= type %></p>
          <% end %>
            <p><i class='bx bxs-user'> </i><%= recipe.serving %></p>
            <p><i class='bx bx-hash'> </i><%= recipe.calories.round(0) %></p>
        </span>
      </div>
      <% end %>
    </li>
    <% end %>
  </ul>
</section>

<section>
  <h1>My Recipes</h1>
  <ul class="recipe-list-wrapper">
    <% @recipes.where(isUserCreated: true).each do |recipe| %>
    <li class="recipe-item">
      <%= link_to recipe_path(recipe.title)  do %>
      <div class="recipe-item-info">
        <h3><i class='bx bxs-pen'></i> <%= recipe[:title] %></h3>
        <span>
          <% recipe[:meal_type].each do |type| %>
            <p><%= type %></p>
          <% end %>

          <% recipe[:cuisine_type].each do |type| %>
            <p><%= type %></p>
          <% end %>
            <p><i class='bx bxs-user'> </i><%= recipe.serving %></p>
            <p><i class='bx bx-hash'> </i><%= recipe.calories.round(0) %></p>
        </span>
      </div>
      <% end %>
    </li>
    <% end %>
  </ul>
</section>