<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

<%= button_to "Add recipe to my library", save_recipe_edamam_index_path(recipe: @recipe, instructions: @instructions), method: :post %>

<img src="<%= @recipe[:image] %>" alt="image of <%=@recipe[:title]%>">
<h3><%= @recipe[:title] %></h3>
<p><%= @recipe[:summary] %></p>
<p><%= @recipe[:id] %></p>
<p>Servings <%= @recipe[:serving] %></p>
<p>Calories <%= @recipe[:calories] %></p>
<p>Cuisine type: <%= @recipe[:cuisine_type] %></p>
<p>Source: <%= @recipe[:url_source] %></p>

<div style="border: 2px solid blue;">
  <p>Recipe Instructions:</p>
  <ol>
    <% if @instructions.present? %>
      <% @instructions.each do |instruction| %>
        <li><%= instruction %></li>
      <% end %>
    <% else %>
      <li>No instructions found</li>
    <% end %>
  </ol>
</div>

<div style="border: 2px solid red;">
    <p>health labels:</p>
    <ul>
    <% @recipe[:health_labels].each do |label|%>
        <li><%=label%></li>
    <% end %>
    </ul>
</div>

<div style="border: 2px solid green;">
    <p>ingredients data:</p>
    <ul>
    <% @recipe[:ingredients].each do |data|%>
        <li><%=data%></li>
    <% end %>
    </ul>
</div>

<%= @all_recipes %>