<main class="login-page">

  <section class="logo-section">
    <%= image_tag 'whats-cookin-logo.png', alt: "What's Cookin Logo", class:"logo-img"%>
    <h1>What's Cookin</h1>
    <div class="logo-motto">  
      <span>Explore</span>
      <span>Discover</span>
      <span>Cook</span>
    </div>
  </section>

  <section class="devise-form-wrapper">
    <h2 class="devise-form-header">Login</h2>

    <div class="devise-form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="devise-input-box">
            <%= f.text_field :email, autofocus: true, autocomplete: "email", required: true %>
            <%= f.label :email %>
            <i class='bx bxs-envelope'></i>
          </div>

          <div class="devise-input-box">
            <%= f.password_field :password, autocomplete: "current-password", required: true %>
            <%= f.label :password %>
            <i class='bx bxs-lock-alt'></i>
          </div>

          <% if false %>
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
          <% end %>

          <div class="actions">
            <%= f.button :submit, class: "devise-btn" do %>
              <span class="btn-text-container">
                <% split_string("Login").map do |char| %>
                  <span class="char-container">
                    <span class="char"><%= char %></span>
                    <span class="char"><%= char %></span>
                  </span>
                <% end %>
              </span>
            <% end %>
          </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </section>
</main>