<!DOCTYPE html>
<html>
  <head>
    <title>WhatsCookinFullRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'%>
    <%= stylesheet_link_tag 'application',
    'https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap',
    media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'devise-form', 'data-turbo-track': 'reload', defer: true %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'recipe-show-modal', 'data-turbo-track': 'reload', defer: true %>
  </head>

  <body class="application-body">
    <%= yield %>
  </body>

  <% if flash[:notice] %>
    <div id="notice-modal" class="modal notice-modal">
      <i class='bx bx-check-circle' ></i>
      <span><%= flash[:notice] %></span>
      <i class='bx bx-x close' onclick="closeModal('notice-modal')"></i>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div id="alert-modal" class="modal alert-modal">
      <i class='bx bx-bell' ></i>
      <span><%= flash[:alert] %></span>
      <i class='bx bx-x close' onclick="closeModal('alert-modal')"></i>
    </div>
  <% end %>

</html>
